<form action="/todo" class="form" method="post">
    <div class="form-group">
        <label for="title" class="label-warning"><h3>TITLE</h3></label>
        <input type="text" class="form-control" id="title" placeholder="Enter a TODO..." name="title">
    </div>
    <div class="form-group">
        <label for="description" class="label-warning"><h3>Description</h3></label>
        <textarea type="text" class="form-control" id="description" placeholder="Enter a description..." name="description"></textarea>
        <p class="help-block">Help Text Here</p>
    </div>
    <div class="form-group">
        <label for="priority"><h3>Priority</h3></label>
        <select id="priority" class="form-control" name="priority">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>
    <button type="submit" class="btn btn-success btn-default">Create
    </button>
</form>