<form action="/todo" class="form" method="post">
    <div class="form-group">
        <label for="title"><h3>TITLE</h3></label>
        <input type="text" id="title" placeholder="Enter a TODO..." name="title">
    </div>
    <div class="form-group">
        <label for="description"><h3>Description </h3></label>
        <textarea name="description" id="description" cols="30" rows="10" class="form-control" placeholder="Enter a description..."></textarea>
    </div>
    <div class="form-group">
        <label for="priority"><h3>Priority</h3></label>
        <select id="priority" class="form-control" name="priority">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>
    <button type="submit" class="btn btn-success">
        Create
    </button>
</form>